.mac-book-air1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mac-book-air1-mac-book-air1 {
  width: 100%;
  height: 4284px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 32, 62, 1);
}
.mac-book-air1-ellipse31 {
  top: 87px;
  left: 423px;
  width: 493px;
  height: 493px;
  position: absolute;
}
.mac-book-air1-group151 {
  top: 693px;
  left: 69px;
  width: 369px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-component11 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-github11 {
  top: 8px;
  left: 11px;
  width: 48px;
  height: 49px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-group2 {
  top: 0.6043325066566467px;
  left: -7.545758080595988e-7px;
  width: 48.00200653076172px;
  height: 47.79180145263672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector10 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.mac-book-air1-vector11 {
  top: 34.764686584472656px;
  left: 8.446221351623535px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector12 {
  top: 35.60707092285156px;
  left: 9.430974960327148px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector13 {
  top: 36.85853576660156px;
  left: 10.361494064331055px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector14 {
  top: 38.24946212768555px;
  left: 11.481538772583008px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector15 {
  top: 39.31529998779297px;
  left: 13.089695930480957px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector16 {
  top: 39.638790130615234px;
  left: 15.0260009765625px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector17 {
  top: 39.3984489440918px;
  left: 16.862260818481445px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-component21 {
  top: 3px;
  left: 100px;
  width: 69px;
  height: 66px;
  position: absolute;
}
.mac-book-air1-component31 {
  top: 2px;
  left: 200px;
  width: 69px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-instagram11 {
  top: 11px;
  left: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-group3 {
  top: 11px;
  left: 12px;
  width: 44px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector18 {
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
  position: absolute;
}
.mac-book-air1-vector19 {
  top: 10.7030029296875px;
  left: 10.7030029296875px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.mac-book-air1-vector20 {
  top: 7.61566686630249px;
  left: 31.10433006286621px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.mac-book-air1-component41 {
  top: 0px;
  left: 300px;
  width: 69px;
  height: 66px;
  position: absolute;
}
.mac-book-air1-group16 {
  top: 52px;
  left: 833px;
  width: 62px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text10 {
  left: 1.0508474111557007px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group19 {
  top: 52px;
  left: 979px;
  width: 70px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text11 {
  left: 1.1864407062530518px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group17 {
  top: 52px;
  left: 1133px;
  width: 81px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text12 {
  left: 1.3728814125061035px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group10 {
  top: 52px;
  left: 689px;
  width: 60px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text13 {
  left: 1.01694917678833px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group1 {
  top: 702px;
  left: 916px;
  width: 329px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-group1-default {
  top: 0px;
  left: 0px;
  width: 329px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mac-book-air1-rectangle2 {
  top: 0px;
  left: 0px;
  width: 329px;
  height: 57px;
  position: absolute;
  border-radius: 20px;
}
.mac-book-air1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 329px;
  height: 57px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 20px;
}
.mac-book-air1-text14 {
  top: 10px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group24 {
  top: 929px;
  left: 33px;
  width: 1280px;
  height: 1398px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.mac-book-air1-mac-book-air6 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1398px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgba(0, 32, 62, 1);
}
.mac-book-air1-rectangle3 {
  top: 131px;
  left: 43px;
  width: 1194px;
  height: 604px;
  position: absolute;
  border-color: rgba(112, 121, 255, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 14px;
}
.mac-book-air1-text15 {
  top: 162px;
  left: 69px;
  color: rgba(255, 255, 255, 1);
  width: 206px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-line3 {
  top: 184px;
  left: 251px;
  width: 250px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-text16 {
  top: 355px;
  left: 666px;
  color: rgba(255, 255, 255, 1);
  width: 546px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text17 {
  top: 209px;
  left: 666px;
  color: rgba(255, 255, 255, 1);
  width: 546px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group221 {
  top: 253px;
  left: 116px;
  width: 380px;
  height: 381.2499694824219px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-ellipse32 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 381px;
  position: absolute;
  border-color: rgba(0, 32, 63, 1);
  border-style: solid;
  border-width: 5px;
}
.mac-book-air1-ellipse4 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 381px;
  position: absolute;
  box-sizing: content-box;
}
.mac-book-air1-line5 {
  top: 846px;
  left: 69px;
  width: 201px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-text18 {
  top: 828px;
  left: 293px;
  color: rgba(255, 255, 255, 1);
  width: 174px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle5 {
  top: 925px;
  left: 67px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-text19 {
  top: 951px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1image10512771 {
  top: 945px;
  left: 83px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-rectangle6 {
  top: 1068px;
  left: 67px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-text20 {
  top: 1094px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  width: 161px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1image59682922 {
  top: 1088px;
  left: 83px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-rectangle7 {
  top: 925px;
  left: 513px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-text21 {
  top: 951px;
  left: 592px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1image7321902 {
  top: 945px;
  left: 527px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-rectangle8 {
  top: 925px;
  left: 944px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-text22 {
  top: 951px;
  left: 1023px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1image59683322 {
  top: 945px;
  left: 958px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-rectangle10 {
  top: 1068px;
  left: 944px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1image154843031 {
  top: 1087px;
  left: 958px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-text23 {
  top: 1094px;
  left: 1023px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle11 {
  top: 1068px;
  left: 513px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-text24 {
  top: 1094px;
  left: 592px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-laravel2 {
  top: 1065px;
  left: 511px;
  width: 89px;
  height: 89px;
  position: absolute;
}
.mac-book-air1-rectangle12 {
  top: 1215px;
  left: 67px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1-component51 {
  gap: 24px;
  top: 1709px;
  left: 931px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame141 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(213, 213, 213, 1);
}
.mac-book-air1-frame161 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text25 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame151 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text26 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text27 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1image59686721 {
  top: 1234px;
  left: 83px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-rectangle13 {
  top: 1215px;
  left: 944px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1image59683501 {
  top: 1234px;
  left: 958px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-text28 {
  top: 1241px;
  left: 1023px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle14 {
  top: 1215px;
  left: 513px;
  width: 293px;
  height: 82px;
  position: absolute;
}
.mac-book-air1image108263381 {
  top: 1234px;
  left: 527px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.mac-book-air1-text29 {
  top: 1241px;
  left: 152px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text30 {
  top: 1241px;
  left: 592px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-arrow1 {
  top: 748px;
  left: 640px;
  width: 47px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-ellipse8 {
  top: 1316px;
  left: 589px;
  width: 51px;
  height: 39px;
  position: absolute;
}
.mac-book-air1-file111 {
  top: 236px;
  left: 105px;
  width: 400px;
  height: 400px;
  position: absolute;
}
.mac-book-air1-line81 {
  top: 1401px;
  left: -2px;
  width: 1280px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-line91 {
  top: 1401px;
  left: -2px;
  width: 1280px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-text31 {
  top: 35px;
  left: 575px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group25 {
  top: 2234px;
  left: -2px;
  width: 1280px;
  height: 1008px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-mac-book-air8 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1008px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 32, 62, 1);
}
.mac-book-air1-text32 {
  top: 182px;
  left: 292px;
  color: rgba(112, 121, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text33 {
  top: 117px;
  left: 356px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component8 {
  gap: 24px;
  top: 239px;
  left: 487px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame142 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(217, 217, 217, 1);
  background-image: url("public/external/tq_lmd4jajbam-cxfb-300w.png");
}
.mac-book-air1-frame162 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text34 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame152 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text35 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text36 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component9 {
  gap: 24px;
  top: 239px;
  left: 870px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame143 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(213, 213, 213, 1);
  background-image: url("public/external/tq_axi7ssxbh7-1obl-300w.png");
}
.mac-book-air1-frame163 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text37 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame153 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text38 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text39 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component7 {
  gap: 24px;
  top: 239px;
  left: 105px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame144 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(213, 213, 213, 1);
  background-image: url("public/external/tq_xpey84-aff-j4ch-300w.png");
}
.mac-book-air1-frame164 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text40 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame154 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text41 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text42 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component10 {
  gap: 24px;
  top: 633px;
  left: 678px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame145 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(213, 213, 213, 1);
  background-image: url("public/external/tq_uimqvo4bm0-274h-300w.png");
}
.mac-book-air1-frame165 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text43 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame155 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text44 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text45 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-component52 {
  gap: 24px;
  top: 633px;
  left: 296px;
  width: 276px;
  height: 362px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(21, 29, 107, 1);
}
.mac-book-air1-frame146 {
  top: 16px;
  left: 16px;
  width: 244px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-size: cover;
  background-color: rgba(213, 213, 213, 1);
  background-image: url("public/external/tq_kggvmc2uxn-eeoo-300w.png");
}
.mac-book-air1-frame166 {
  gap: 12px;
  top: 232px;
  left: 16px;
  width: 244px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-text46 {
  color: rgba(255, 255, 255, 1);
  width: 244px;
  height: auto;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame156 {
  gap: 10px;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  border-radius: 40px;
  justify-content: center;
  background-color: rgba(112, 125, 241, 1);
}
.mac-book-air1-text47 {
  color: rgba(0, 9, 105, 1);
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text48 {
  top: 292px;
  left: 16px;
  color: rgba(255, 255, 255, 0.09000000357627869);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 57px;
  font-style: italic;
  text-align: right;
  font-family: Arimo Hebrew Subset Italic;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text49 {
  top: 35px;
  left: 562px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-line92 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-line82 {
  top: 3254px;
  left: 0px;
  width: 1280px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-mac-book-air9 {
  top: 3254px;
  left: 0px;
  width: 1280px;
  height: 1070px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 32, 62, 1);
}
.mac-book-air1-frame19 {
  gap: 24px;
  top: 184px;
  left: 611px;
  width: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-frame18 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mac-book-air1-frame171 {
  gap: 24px;
  width: 600px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.mac-book-air1-frame157 {
  gap: 10px;
  width: 288px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mac-book-air1-text50 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame147 {
  gap: 10px;
  display: flex;
  padding: 16px 256px 16px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(57, 62, 70, 0.5);
}
.mac-book-air1-text51 {
  color: rgba(238, 238, 238, 0.5);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame167 {
  gap: 10px;
  width: 288px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mac-book-air1-text52 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame148 {
  gap: 10px;
  display: flex;
  padding: 16px 256px 16px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(57, 62, 70, 0.5);
}
.mac-book-air1-frame172 {
  gap: 10px;
  width: 600px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mac-book-air1-text54 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame149 {
  gap: 10px;
  display: flex;
  padding: 16px 256px 16px 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(57, 62, 70, 0.5);
}
.mac-book-air1-frame3 {
  gap: 10px;
  display: flex;
  padding: 10px 32px;
  align-items: center;
  border-radius: 24px;
  background-color: rgba(112, 121, 255, 1);
}
.mac-book-air1-text56 {
  color: rgba(238, 238, 238, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-send {
  width: 24px;
  height: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5) ;
}
.mac-book-air1-mail {
  top: 717.1148071289062px;
  left: 1096px;
  width: 58.2296142578125px;
  height: 49.143348693847656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector115 {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 49px;
  position: absolute;
}
.mac-book-air1-vector116 {
  top: 0.69565820997218px;
  left: 3.0891085322778054px;
  width: 51px;
  height: 30px;
  position: absolute;
}
.mac-book-air1-freepikexport20241130094205f5f-vremovebgpreview1 {
  top: 84px;
  left: -60px;
  width: 621px;
  height: 621px;
  position: absolute;
}
.mac-book-air1-group23 {
  top: 760px;
  left: 3px;
  width: 1280px;
  height: 270px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-footerpage {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 270px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(53, 58, 132, 1);
}
.mac-book-air1-line7 {
  top: 0px;
  left: 640px;
  width: 400px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-frame23 {
  gap: 48px;
  top: 56px;
  left: 410px;
  width: 460px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mac-book-air1-frame20 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.mac-book-air1-home {
  width: 24px;
  height: 24px;
}
.mac-book-air1-text57 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame21 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.mac-book-air1-user {
  width: 24px;
  height: 24px;
}
.mac-book-air1-text58 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-frame22 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
}
.mac-book-air1-phone {
  width: 24px;
  height: 24px;
}
.mac-book-air1-text59 {
  color: var(--dl-color-default-color3);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group152 {
  top: 132px;
  left: 474px;
  width: 315px;
  height: 58.90243911743164px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-component12 {
  top: 0px;
  left: 0px;
  width: 58.90243911743164px;
  height: 56.34146499633789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-github12 {
  top: 6.829268455505371px;
  left: 9.390243530273438px;
  width: 41px;
  height: 41.82926940917969px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-group4 {
  top: 0.5158936381340027px;
  left: -6.441500772780273e-7px;
  width: 40.97732162475586px;
  height: 40.797882080078125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector21 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 41px;
  position: absolute;
}
.mac-book-air1-vector22 {
  top: 29.67717170715332px;
  left: 7.210188865661621px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector23 {
  top: 30.39628028869629px;
  left: 8.050832748413086px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector24 {
  top: 31.464603424072266px;
  left: 8.84517765045166px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector25 {
  top: 32.651981353759766px;
  left: 9.801313400268555px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector26 {
  top: 33.56184387207031px;
  left: 11.1741304397583px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector27 {
  top: 33.83799362182617px;
  left: 12.82707405090332px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-vector28 {
  top: 33.6328239440918px;
  left: 14.394613265991211px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-component22 {
  top: 2.5609757900238037px;
  left: 85.36585235595703px;
  width: 59px;
  height: 56px;
  position: absolute;
}
.mac-book-air1-component32 {
  top: 1.7073169946670532px;
  left: 170.73170471191406px;
  width: 58.90243911743164px;
  height: 56.34146499633789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-instagram12 {
  top: 9.390244483947754px;
  left: 10.243902206420898px;
  width: 38px;
  height: 37.560977935791016px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-group5 {
  top: 9.390244483947754px;
  left: 10.243902206420898px;
  width: 37.56097412109375px;
  height: 37.560977935791016px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-vector29 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.mac-book-air1-vector30 {
  top: 9.136710166931152px;
  left: 9.136709213256836px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.mac-book-air1-vector31 {
  top: 6.501178741455078px;
  left: 26.55247688293457px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.mac-book-air1-component42 {
  top: 0px;
  left: 256.0975646972656px;
  width: 59px;
  height: 56px;
  position: absolute;
}
.mac-book-air1-frame29 {
  gap: 10px;
  top: 163px;
  left: 826px;
  width: 481px;
  display: flex;
  padding: 48px 96px;
  position: absolute;
  align-items: flex-start;
}
.mac-book-air1-text60 {
  color: rgba(238, 238, 238, 0.75);
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text61 {
  top: 35px;
  left: 555px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group222 {
  top: 24.49679946899414px;
  left: 68px;
  width: 67px;
  height: 75.86386108398438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-line93 {
  top: 833px;
  left: 0px;
  width: 1280px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-group14 {
  top: 416px;
  left: 79px;
  width: 477px;
  height: 264px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-text62 {
  top: 122px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text63 {
  color: rgba(245, 245, 245, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text64 {
  top: 42px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text65 {
  top: 195px;
  left: 1px;
  color: rgb(255, 255, 255);
  width: 476px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-group223 {
  width: 67px;
  height: 75.86386108398438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mac-book-air1-file112 {
  top: 267px;
  left: 468px;
  width: 518px;
  height: 518px;
  position: absolute;
}
.mac-book-air1-data-analysis {
  top: 539px;
  left: 253px;
  width: 242px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book-air1-text71 {
  color: rgba(112, 121, 255, 1);
  width: 41px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .mac-book-air1-mac-book-air1 {
    width: 100%;
  }
  .mac-book-air1-ellipse31 {
    top: 85px;
    left: 0px;
    right: 0px;
    width: 589px;
    height: 574px;
    margin: auto;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .mac-book-air1-group151 {
    top: 712px;
    left: 52px;
  }
  .mac-book-air1-group1 {
    right: 0px;
    width: 336px;
  }
  .mac-book-air1-mac-book-air6 {
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-right-radius: var(--dl-radius-radius-imageradius);
  }
  .mac-book-air1-line3 {
    border-color: #353a84;
    border-width: 4px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .mac-book-air1-line5 {
    border-color: #353a84;
    border-width: 4px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .mac-book-air1-mac-book-air9 {
    right: -52px;
    bottom: 33px;
  }
  .mac-book-air1-group14 {
    top: 398px;
    left: 63px;
  }
  .mac-book-air1-text62 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .mac-book-air1-text65 {
    left: -1px;
    bottom: -86px;
  }
  .mac-book-air1-text67 {
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .mac-book-air1-text69 {
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .mac-book-air1-file112 {
    top: 300px;
    left: 457px;
    width: 470px;
    height: 470px;
  }
  .mac-book-air1-data-analysis {
    top: 539px;
    left: 249px;
  }
  .mac-book-air1-text71 {
    top: -19px;
    left: -5px;
    color: rgb(112, 121, 255);
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 1200px) {
  .mac-book-air1-file112 {
    left: 458px;
    right: 458px;
  }
}
